<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/formlayout}">
<div layout:fragment="content">
	<form class="joinus">
		<div>
		<input type="text" placeholder="아이디">
		</div>
		<div>
		<input type="password" name="password" placeholder="비밀번호">
		<input type="password" name="password2" placeholder="비밀번호 확인">
		</div>
		<div>
		</div>
		<div>
		<input type="text" name="name" placeholder="이름">
		</div>
	</form>
</div>

<th:block layout:fragment="script">
	<script th:inline="javascript">
		$('#books').addClass('active');
		var bookList = [[${bookList}]];
		console.log(bookList);
	</script>
	<script src="/js/main/books.js"></script>
</th:block>
</html>