<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<div layout:fragment="content">
	<th:block>
	</th:block>
	<th:block>
	</th:block>	
	<div class="prdSection" th:each="book : ${matchingList}">
		<img th:src="${book.imgPath}">
		<h2 th:text="${book.title}"></h2>
		<p th:text="${book.publisher}"></p>
		<p th:text="${book.author}"></p>
		<p th:text="${#numbers.formatInteger(book.salePrice,1,'COMMA')} + '￦'"></p>
	</div>
	<div style="width:100%;float:left;text-align:right;">
		<a>이 책들이 맞나요?</a>
	</div>
</div>

<th:block layout:fragment="script">
	<script th:inline="javascript">
		$('#myTables').addClass('active');
		var bookList = [[${bookList}]];
		console.log(bookList);
	</script>
	<script src="/js/main/books.js"></script>
</th:block>
</html>