<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<header class="mainHeader" style="padding:10px;">
	<div style="height:100%;width:10%;margin-left:5%;float:left;cursor:pointer;" onclick="location.href='/main'">
		<img src="/images/favicon.png" style="height:100%;width:auto;">
	</div>
	<div style="height:100%;width:65%; float:left;">
		<div class="header-inner">
			<input type="text" class="header-search" placeholder="원하는 책을 검색해보세요!" id="searchForm" th:value="${searchData}">
			<button class="header-search" style="cursor-events:"></button>
		</div>
	</div>
	<th:block th:if="${session.loginInfo} == null">
		<div style="height:100%;width:20%;float:left;">
			<div class="header-inner" style="">
				<div onclick="location.href='/login'" style="margin-left:40%;">
					<img src="/images/login.png" style="height:70%;"><br>
					<p>로그인</p>
				</div>
				<div onclick="location.href='/joinus'">
					<img src="/images/joinus.png" style="height:70%;"><br>
					<p>회원가입</p>
				</div>
			</div>
		</div>
	</th:block>
	<th:block th:if="${session.loginInfo} != null">
		<div style="height:100%;width:20%;float:left;">
			<div class="header-inner" style="">
				<div onclick="location.href='/mypage'" style="margin-left:40%;">
					<img src="/images/menu.png" style="height:70%;"><br>
					<p>내 메뉴</p>
				</div>
				<div onclick="location.href='/logout'">
					<img src="/images/login.png" style="height:70%;"><br>
					<p>로그아웃</p>
				</div>
			</div>
		</div>
	</th:block>	
</header>
</html>