@charset "UTF-8";
@font-face { 
	font-family: 'S-CoreDream-3Light'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); 
	font-weight: normal; font-style: normal; 
}

[v-cloak] {
  display: none;
}

html {
	height:100% !important;
	min-height:100% !important;
	overflow:auto;
}

body {
	height: 100%;
	width: 100%;
	margin: 0px !important;
	font-family: 'S-CoreDream-3Light'
}

.mainContentWrap {
	width: 100%;
	min-height: 80%;
	height:auto;
	padding: 5% 5%;
	background-color:#FAFAFA;
	display:table;
}

.mainContent {
	width: 70%;
	float:left;
	display:table-row;
	margin-left:2%;
}

.mainContent * {
	background-color:#FAFAFA;
}

.mainHeader {
	height:10%;
	background-color: #E0E6F8;
}

.searchBtn {
	float:left !important; 
	margin-left:1% !important;
	border:3px solid navy !important; 
	height:50% !important; 
	padding:5px !important;
	margin-top:2%;
}

.header-icons {
	width:70%;
	float:left;
	height:100%;
}

.header-icons div {
	height:100%;
	padding:2% 3% 0% 0%;
	text-align:center;
	float:right;
}

.header-inner {
	height:80%;
	margin-top:5px;
	margin-bottom:5px;
}

.header-inner img {
	height:70%;
	width:auto;
	margin-left:1%;
}

.header-inner div {
	height:100%;
	width:20%;
	margin-left:1%;
	text-align:center;
	float:left;
	cursor:pointer;
}

.header-inner p {
	font-size:1.2rem;
	text-align:center;
}

input.header-search {
	width:80%;
	padding:5px;
	height:100%;
	border:3px solid navy;
	float:left;
	border-right:0px;
	font-weight:bold;
}

input.header-search:focus{
    outline: none;
}


button.header-search {
	height: 100%;
    width: 10%;
    float: left;
    border: 3px solid navy;
    border-left: 0px;
    background-color: white;
    background-image: url(/images/search.png);
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px;
    /*pointer-events:none;*/
}

/*
.mainContentWrap * {
	padding:5% 5% 0% 0%;
}*/

.sideMenu {
	width:15%;
	height:100%;
	/*background-color: coral;*/
	float:left;
}

.sideMenu div {
	width:100%;
	height: 10%;
	/*background-color: red;*/
	margin-bottom:10px !important;
	background-color:white;
	padding:10%;
	display:inline-table;
}

.sideMenu span {
	padding: 0px;
	font-size: 1.5rem;
}

.sideMenu span a{
	text-decoration:none;
	cursor:pointer;
}

.sideMenu div.active {
	width:100%;
	border-right:20px solid navy;
}

.mainFooter {
	height: 10%;
	width: 100%;
	background-color: #E0E6F8;
	overflow:hidden;	
}

.mainFooter .footer-info p {
	margin-top:0.5%;
	margin-left:1.5%;
	font-size:1rem;
}

.mainFooter img {
	width:auto;
	height:80%;
	margin:1.5%;
}

/*
	product css
*/

.prdSection {
	width:48%;
	background-color:white;
	height:250px;
	float:left;
	margin-left:1%;
	/*margin-right:1%;*/
	margin-bottom:20px;
	padding:20px;
}

.prdSection * {
	background-color:white;
}

.prdSection img {
	height:calc(100% - 20px);
	max-width:40%;
	margin-right:5%;
	float:left;
}

.prdSection h2 {
	background-color:white;
	font-size:2rem;
	font-weight:bold;
}

.prdSection p {
	background-color:white;
	font-size:1.6rem;
}

.prdSection button {
	border:1.5px solid LightGrey ;
	padding:3px;
	
}

/*

button.buy-now {
	background-color:#E0E6F8;
	color:white;
}

button.buy-now img{
	background-color:transparent;
}

*/

.carousel-control {
	background:none !important;
}

.carousel-control span{
	background:none !important;
}

.carousel-indicators .active {
	background-color:navy;
}


/*ToolTip*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


/*내시간표 */

.selectSection {
	margin-left:10%;
	width:calc(90% - 50px);
	text-align:left;
	height:50px;
}

.selectSection select {
	font-size:1.5rem;
	height:80%;
	float:left;
	margin-right:3%;
	background-color:white;
}

.myTables {
	width:calc(90% - 50px);
	margin-top:20px;
	margin-left:10%;
	margin-bottom: 50px;
}

.myTables *{
	/* height:50px; */
	text-align:center;
	padding: 1px;
	border:1px solid #FAFAFA;
	position:'relative'
}

.myTables .table-info div {
	border:0px;
	background-color:transparent;
	float:left;
	width:100%;
	font-size:1.5rem;
	margin-bottom:10%;
}

.myTables .table-info img {
	 float:right;
	 width:16px;
	 height:16px;
	 border:0px;
	 background-color:transparent;
}


.myTables th {
	font-size:1.5rem;
	background-color:#E0E6F8;
	height:50px;
}

.myTables td {
	background-color:white;
	padding:0px;
	height:50px;
}

.joinus {
	text-align:center;
}

form .joinus{
	width:60%;	
}

.joinus input {
	background-color:white;
	height:35px;
	width:60%;
	font-size:1.5em;
}

.loginForm {
	width:60%;
	margin-left:35%;
	margin-top:5%;
}

button.joinusBtn {
	height:50px;
	font-size:1.8em;
	border:1px solid #848484;
	width:calc(50% - 2px);
	
}

button.loginBtn {
	height:50px;
	font-size:1.8em;
	background-color:#E0E6F8;
	border:1px solid white;
	border-right:0px;
	width:100%;
	
}


table.joinus {
	border:0.5px solid LightGrey;
	margin-top:20px;
}

table.joinus td {
	padding:0px;
	border:0.5px solid LightGrey; 
	height:35px;
}


.joinus input {
	border :none;
	height:100%;
	width:100%;
	padding-left:5px;
}

.joinus button {
	border:0px;
	background-color:#E0E6F8;
	height:35px;
	width:100%;	
}

.btn-danger {
	background-color:white;
	color:black;
	border:none;
	border-radius: 0px;	
}

.btn-danger.active {
	background-color:#E0E6F8;
	color:black;
	border:none;
	border-radius: 0px;
}

.btn-danger:hover{
	background-color:#E0E6F8;
	color:black;
}

.joinus select {
	border:none;
	width:100%;
	height:100%;
	background-color:white;
}


.cart {
	width:80%;
	margin-left:10%;
	border:1px solid LightGrey;
	text-align:center;
}

.cart th {
	padding:5px;
	background-color:#E0E6F8;
	border:1px solid LightGrey;
	text-align:center;
}

.cart td {
	border:1px solid LightGrey;
	padding:5px;
	height:150px;
}

.cart td img {
	height:100%;
	width:auto;
}

.cart-info-table {
	width:80%;
	margin-left:10%;
	border:1px solid LightGrey;
	text-align:center;
}

.cart-info-table th {
	padding:5px;
	background-color:#E0E6F8;
	border:1px solid LightGrey;
	text-align:center;
}

.cart-info-table td {
	border:1px solid LightGrey;
	padding:5px;
	height:40px;
}

.cart-info {
	width:80%;
	background-color:#D8D8D8;
	margin-left:10%;
	height:50px;
	margin-top:25px;
	padding:15px;
}

.cart-info span {
	background-color:transparent;
	font-weight:bold;
}

.cart-info div {
	float:left;
	margin-right:30px;
	background-color:transparent;
}

.qty-navi {
	cursor:pointer;
}

.input-form {
	background-color:white;
	height:25px;
	width:60%;
	font-size:1.5em;"
}