@charset "UTF-8";

html {
	height:100% !important;
	min-height:100% !important;
	overflow:auto;
}

body {
	height: 100%;
	width: 100%;
	margin: 0px !important
}

.mainContentWrap {
	width: 100%;
	min-height: 80%;
	height:100%;
	padding: 5% 5%;
	background-color:#FAFAFA;
	display:table;
}

.mainContent {
	width: 1322px;
	float:left;
	display:table-row;
}

.mainContent * {
	background-color:#FAFAFA;
}

.mainHeader {
	height:10%;
	background-color: #E0E6F8;
}

.searchBtn {
	float:left !important; 
	margin-left:1% !important;
	border:3px solid navy !important; 
	height:50% !important; 
	padding:5px !important;
	margin-top:2%;
}

.header-icons {
	width:70%;
	float:left;
	height:100%;
}

.header-icons div {
	height:100%;
	padding:2% 3% 0% 0%;
	text-align:center;
	float:right;
}

/*
.mainContentWrap * {
	padding:5% 5% 0% 0%;
}*/

.sideMenu {
	width:250px;
	height:100%;
	/*background-color: coral;*/
	float:left;
}

.sideMenu div {
	width:230px;
	height: 10%;
	/*background-color: red;*/
	margin-bottom:10px !important;
	background-color:white;
	padding:10%;
	display:inline-table;
}

.sideMenu span {
	padding: 0px;
	font-size: 1.5em;
}

.sideMenu span a{
	text-decoration:none;
	cursor:pointer;
}

.sideMenu div.active {
	width:230px;
	border-right:20px solid navy;
}

.mainFooter {
	height: 10%;
	width: 100%;
	background-color: #E0E6F8;
	overflow:hidden;	
}

.mainFooter .footer-info p {
	margin-top:0.5%;
	margin-left:1.5%;
}

.mainFooter img {
	width:auto;
	height:80%;
	margin:1.5%;
}

/*
	product css
*/

.prdSection {
	width:43%;
	background-color:white;
	height:250px;
	float:left;
	margin-right:2%;
	margin-bottom:20px;
	padding:20px;
}

.prdSection * {
	background-color:white;
}

.prdSection img {
	height:calc(100% - 20px);
	width:auto;
	margin-top:4%;
	margin-right:5%;
	float:left;
}

.prdSection h2 {
	background-color:white;
	font-size:2em;
}

.prdSection p {
	background-color:white;
	font-size:1.5em;
}

.carousel-control {
	background:none !important;
}

.carousel-control span{
	background:none !important;
}

.carousel-indicators .active {
	background-color:navy;
}


/*ToolTip*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


/*내시간표 */

.selectSection {
	margin-left:10%;
	width:80%;
	text-align:left;
	height:50px;
}

.selectSection select {
	font-size:1.5em;
	height:50px;
	float:left;
	margin-right:20px;
	background-color:white;
}

.myTables {
	width:80%;
	margin-top:50px;
	margin-left:10%;
	margin-bottom: 50px;
}

.myTables *{
	/* height:50px; */
	text-align:center;
	padding: 1px;
	border:1px solid #FAFAFA;
	position:'relative'
}

.myTables .table-info div {
	border:0px;
	background-color:transparent;
	float:left;
	width:100%;
	font-size:1.5em;
	margin-bottom:10%;
}

.myTables .table-info img {
	 float:right;
	 width:16px;
	 height:16px;
	 border:0px;
	 background-color:transparent;
}


.myTables th {
	font-size:1.5em;
	background-color:#E0E6F8;
	height:50px;
}

.myTables td {
	background-color:white;
	padding:0px;
	height:50px;
}

.joinus {
	text-align:center;
}

form .joinus{
	width:60%;	
}

.joinus input {
	background-color:white;
	height:35px;
	width:60%;
	font-size:1.5em;
}

.loginForm {
	width:60%;
	margin-left:540px;
}

button.joinusBtn {
	height:50px;
	font-size:1.8em;
	border:1px solid #848484;
	width:calc(50% - 2px);
	
}

button.loginBtn {
	height:50px;
	font-size:1.8em;
	background-color:#E0E6F8;
	border:1px solid white;
	border-right:0px;
	width:100%;
	
}